<!DOCTYPE html>
<html>
<head>

<style>
  .spoiler, .spoiler2, .spoiler a, .spoiler2 a { 
    color: black; 
    background-color: black;
  }

  .spoiler:hover, .spoiler:hover a {
    color: white;
  }

  .spoiler2:hover, .spoiler2:hover a { 
    background-color: white; 
  }
</style>

  <title>Start Minecraft Server</title>
</head>
<body>
  <h1>zizicraft 2.0 feat inoxtag mastu michou xi jinping emmanuel macron lorand popo</h1>
  <button onclick="startServer()">démarrer serveur</button>
  <button onclick="checkStatus()">statut du serveur</button>
  <p id="status"></p>

  <script>
    async function startServer() {
      document.getElementById("status").innerText = "ça démarre petit fdp...";
      const res = await fetch("/start");
      const data = await res.json();
      document.getElementById("status").innerText = data.message || "c bon";
    }

    async function checkStatus() {
      const res = await fetch("/status");
      const data = await res.json();
      const states = {
        0: "hors ligne",
        1: "en ligne",
        2: "en train de démarrer",
        3: "en train de s'arrêter",
        4: "redémarre",
        5: "sauvegarde",
        6: "charge",
        7: "a crash",
        8: "en attente",
    };
      document.getElementById("status").innerText = 
        `Server: ${data.name}\nStatus: ${states[data.status]} \nAddress: ${data.address}`;
    }
  </script>
  <br>
  <hr />
  <br>
  <h1>Lois Ziziviliennes</h1>
  <h2>Projets en cours</h2>
  
  La section <strong>Projets en cours</strong> regroupe toutes les initiatives lancés par des résidents, votés lors des sessions parlementaires. Tout le monde a le droit d'y contribuer (sauf certains projets qui obligent certains résidents à y participer de force).
  
  <h3>Projet de revitalisation de Ziziville, 29 novembre 2025</h3>
  -> Le projet de revitalisation de Ziziville est un projet qui a pour but de revitaliser Ziziville, notamment la place principale, à l'aide d'un ajout de végétation et d'une refonte des chemins.
  <h3>Projet de démolition du portail du Nether de Ewen Boutin, 29 novembre 2025</h3>
  -> Le projet de démolition du portail du Nether de M. Boutin est un projet qui a pour but de démolir le portail du Nether de M. Boutin, suite à plusieurs plaintes venant des résidents de Ziziville qui se plaignent que <i>lorsqu'ils reviennent du Nether, ils se retrouvent toujours chez Ewen au lieu d'attérir au portail commun</i>.
  <br><br>
  -> M. Boutin aura le devoir de mener à bien ce projet dans les plus brefs délais.
  <h3>Projet de construction du marché villageois de Ziziville, 29 novembre 2025</h3>
  -> Le projet de construction du marché villageois de Ziziville est un projet qui a pour but d'enrichir économiquement Ziziville à l'aide d'un marché public accessible à tous avec des villageois offrant des échanges avec des tarifs intéressants.
  <br><br>
  -> Chaque citoyen aura l'occassion de construire son/ses propre(s) stand(s), avec des règles de taille, avec son/ses propre(s) villageois.
  <h2>Fonctionnement provisoire</h2>
  -> Du fait du caractère récent du système démocratique Zizivilien, certaines mesures et/ou lois n'ont pas encore eu l'occassion d'être établie. Les Ziziviliens se sont donc mis d'accord et respectent un certain fonctionnement qui évolura à force que des lois soient votées.
  <div style="margin: 15px;">
  -> Le colisée est considéré, au jour du dimanche 30 novembre 2025, comme <b>mairie provisoire</b> et fait également office de <b>parlement provisoire</b>. Les lois y sont proposées, discutées et votées.
  </div>
  <div style="margin: 15px;">
  -> L'Assemblée Parlementaire est, au jour du dimanche 30 novembre 2025, l'ensemble des résidents de Ziziville <b>ayant la capacité de suggérer des textes de lois</b> (voir <b>loi n.1a</b> ci-dessous).
  </div>
  <div style="margin: 15px;">
  -> Est considéré, au jour du dimanche 30 novembre 2025, l'étang de Ziziville comme la <b>place principale</b>.
  </div>
  <div style="margin: 15px;">
  -> L'Assemblée Parlementaire peut être convoquée (avec une date précise fixée) par n'importe quel membre de cette dernière avec comme motif la volonté de <b>suggérer</b> une loi, d'en <b>révoquer</b> une, ou d'en <b>modifier</b> une. L'Assemblée Parlementaire peut également être convoquée (avec un degré de priorité moindre) par un individu ne faisant pas partie de cette dernière, et peut demander à l'Assemblée Parlementaire de prendre certaines décisions à l'aide d'un vote (résolution de litiges, conflits, ...).
  <div style="margin: 15px;">
  -> Dans le cas ou l'Assemblée Parlementaire ne peut pas être rassemblé dans sa totalité ou avec au moins 50% de ces membres, n'importe quel membre (dit <b>premier membre</b>) peut se permettre de suggérer une loi, une modification à une loi existante ou la révocation d'une loi à travers un message écrit, audio ou audiovisuel et peut demander à ce que chaque membre de l'Assemblée Parlementaire dépose un livre <b>signé</b> au <b>premier membre</b> pour exprimer son vote qui sera comptabilisé à la prochaine réunion parlementaire.
  </div>
  -> Chaque résident est tenu de prendre soin de la ville, que ce soit en réparant les dommages causés par des monstres/autres résidents, en coupant toute végétation encombrant la circulation, en entretenant sa résidence, ...
  <br><br>
  -> Dans le cas ou un individu souhaiterait bâtir quelque chose sur le terrain Zizivilien, il se doit de respecter quelques règles de bon sens et de vivre ensemble:
  <div style="margin: 15px;">
  -> S'assurer que la construction, <b>peut importe sa nature</b>, n'encombre pas la circulation, ne piétine pas sur le terrain d'un autre résident, ne salisse pas la beauté de la ville et ne pose aucun risque pour autrui.
  </div>
  <div style="margin: 15px;">
  -> Dans le cas ou l'individu veut construire un bâtiment à caractère privé (maison, ferme, ...), il doit en plus selectionner un terrain qui s'éloigne un minimum de la <b>place principale</b> et des bâtiments publics.
  </div>
  <div style="margin: 15px;">
  -> Dans le cas ou l'individu souhaite construire un bâtiment à caractère public, il doit en plus consulter chaque résident ainsi que de recenser chacun de leurs avis avant de procéder à la construction du dit bâtiment.
  </div>
  -> Dans certains cas ou deux résidents sont en conflit et sont dans l'incapacité de résoudre ce conflit à l'amiable, ils sont, si ils le souhaitent, autorisé à utiliser le colisée comme arène afin de résoudre le litige. Les deux individus peuvent également se mettre d'accord pour nommer un <b>intermédiaire</b> qui peut servir de témoin ou qui peut imposer une sanction au perdant du duel. <b>Les règles du duel ainsi que la sanction du perdant, si il y en a une, doivent être définie par les deux individus ou par un intermédiaire.</b>
  </div>
  <h2>Loi n.1a, du samedi 29 novembre 2025</h2>
  <h3>5 votes favorables, 0 vote défavorable, 1 vote favorable (exprimé par livre signé)</h3>
  <h4>Loi définissant des critères nécessaires pour pouvoir suggérer, devant l'Assemblée Parlementaire Zizivilienne, un texte de loi.</h4>
  -> Définition des critères nécessaires pour pouvoir suggérer, devant l'Assemblée Parlementaire Zizivilienne, un texte de loi:
  <div style="margin: 15px;">
  -> L'individu doit, être un résident de Ziziville, c'est à dire, résider sur le territoire Zizivillien depuis plusieurs semaines et être accepté par la communauté Zizivilienne.
  </div>
  <div style="margin: 15px;">
  -> L'individu doit, posséder un domicile fixe à Ziziville, c'est à dire, une résidence permanente qui lui sert de logement primaire.
  </div>
  <div style="margin: 15px;">
  -> L'individu doit, être un membre actif de la communauté. Par exemple, cela implique certaines choses comme:
  <div style="margin: 15px;">
  -> Payer ses impôts lorsqu'ils sont demandés.
  </div>
  <div style="margin: 15px;">
  -> Participer à la construction de certains bâtiments à utilité publique.
  </div>
  <div style="margin: 15px;">
  -> Porter assistance, que ce soit de façon morale, financière, ..., à tout résident de Ziziville.
  </div>
  <div style="margin: 15px;">
  -> Participer aux activités communautaires (évènements, raids, explorations, ...
  </div>
  </div>
  -> Dans le cas ou l'individu remplit ces trois critères, il est dans la capacité de réunir l'Assemblée Parlementaire et de proposer un texte de loi.
  <br><br>
  -> Dans le cas ou l'individu estime remplir ces trois critères, mais qu'une opposition est émise, l'Assemblée Parlementaire doit trancher à l'aide d'un vote et décider de si oui ou non l'individu est éligible pour proposer des textes de loi.
<h2>Loi n.1b, du samedi 29 novembre 2025</h2>
  <h3>5 votes favorables, 0 vote défavorable, 1 vote favorable (exprimé par livre signé)</h3>
  <h4>Loi concernant l'ostracisation, le droit d'ostraciser, l'application de l'ostracisation.</h4>
  -> Principe d'ostracisation
  <div style="margin: 15px;">
  -> Un individu ostracisé de Ziziville a l'interdiction de naviguer sur les territoires revendiqués par Ziziville, dans toutes les dimensions de Zizicraft.
  </div>
  -> Peut être ostracisé:
  <div style="margin: 15px;">
  -> Les étrangers séjournant dans Ziziville
  </div>
  <div style="margin: 15px;">
  -> Les résidents de Ziziville représentant un danger pour la ville ou pour la communauté
  </div>
  <div style="margin: 15px;">
  -> Les <span class="spoiler2">BOUGNOULSSSSSSSSSSSSSSSSS</span>
  </div>
  -> Sanctions en cas de non respect de l'ostracisation (de la peine la plus clémente à la peine capitale):
  <div style="margin: 15px;">
  -> <span class="spoiler2">Sodomie par un pousse-crôte</span>
  </div>
  <div style="margin: 15px;">
  -> Exécution
  </div>
  <div style="margin: 15px;">
  -> Exécution publique sur la <b>place principale</b>
  </div>
  -> Processus d'ostracisation
  <div style="margin: 15px;">
  -> L'ostracisation doit être votée dans un bâtiment administratif (tel que la mairie ou l'assemblée) et la majorité de la ville (<b>>50%</b>) doit y être favorable pour aboutir à l'ostracisation de quelqu'un.
  </div>
  <div style="margin: 15px;">
  -> En cas d'un vote favorable pour une ostracisation, la personne ostracisé bénéficie d'un délai d'un jour pour quitter le territoire Zizivilien avant l'application de son ostracisation.
  </div>
  -> Application de l'ostracisation
  <div style="margin: 15px;">
  -> Lorsqu'un individu est ostracisé, <b>chaque résident de Ziziville a le devoir militaire d'appliquer l'ostracisation</b>: si vous repérez un ostracisé, vous avez le devoir de le neutraliser afin qu'une sanction soit appliqué, ou de l'exécuter si la situation ne vous permet pas de neutraliser l'individu.
  </div>
  <h2>Loi n.2a, du samedi 29 novembre 2025</h2>
  <h3>5 votes favorables, 0 vote défavorable</h3>
  <h4>Loi concernant la politique de reproduction de la ferme commune de Ziziville.</h4>
  -> Dans le cas ou un résident de Ziziville est amené à tuer des bêtes de la ferme commune de Ziziville, que ce soit dans l'objectif de se rassasier ou d'obtenir des matériaux, il a le devoir de faire reproduire deux bêtes du même type que la bête tuée.
  <h2>Loi n.2b, du samedi 29 novembre 2025</h2>
  <h3>5 votes favorables, 0 vote défavorable</h3>
  <h4>Loi concernant le maintien de la ferme commune de Ziziville.</h4>
  -> Les résidents ne contribuant pas, ou peu, à la communauté et à la ville ont le devoir d'entretenir la ferme commune de Ziziville, que ce soit  le ravitaillement des cisailles ou de bêtes si il manque des bêtes, l'entretien du bâtiment, ...
</body>
</html>

